// ***.skipLink is to hide the "skip to main content" link**
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

// ***General Styling***

body {
    padding: 2% 3%;
    background-color: $color5;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1250px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color4;
    display: inline-block;
}

a:focus img,
a:focus {
    border: 2px solid $color1;
}

.boyfriend,
.comeFromAway,
.hamilton,
.lesMiz,
.summer {
    width: 100%;
    max-width: calc(1249px / 5);
    height: auto;
    opacity: 0.65;
}

.boyfriend:hover,
a:focus .boyfriend,
.comeFromAway:hover,
a:focus .comeFromAway,
.hamilton:hover,
a:focus .hamilton,
.lesMiz:hover,
a:focus .lesMiz,
.summer:hover,
a:focus .summer {
    opacity: 1;
    transition: 1s;
}

.boyfriendResult,
.comeFromAwayResult,
.hamiltonResult,
.lesMizResult,
.summerResult {
    width: 100%;
    max-width: calc(1249px / 5);
    height: auto;
    border: 5px solid $color5;
    border-radius: 5px;
}

.boyfriendResult:hover,
.comeFromAwayResult:hover,
.hamiltonResult:hover,
.lesMizResult:hover,
.summerResult:hover {
    opacity: 0.7;
    transition: 0.5s;
}

main {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10%;
    background-color: $color4;
    text-align: center;
    min-height: 80vh;
}

button {
    color: $color5;
    background-color: $color1;
    margin: 5%;
    padding: 2%;
    border: none;
    border-radius: 5%;
    box-shadow: 5px 10px 5px 0px $color5;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
}

button:hover,
button:focus {
    color: $color1;
    background-color: $color5;
    box-shadow: none;
    transition: 0.5s;
}

header {
    min-height: 15vh;
}

header,
footer {
    background-color: $color5;
}

footer {
    color: $color4;
    margin: 0;
    padding: 25px 0 0;
    text-align: center;
    min-height: 5vh;
}

footer a:hover,
footer a:focus {
    color: $color1;
}

h1,
h2, 
p {
    margin: 0;
}

h1,
h2 {
    font-family: $primaryFont;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 5% 5%;
}

i {
    color: $color1;
}

i:hover,
a:focus i {
    color: $color5;
}

.icons ul {
    justify-content: space-evenly;
    padding-top: 5%;
    margin-bottom: -50px;
}

p,
button {
    font-family: $secondaryFont;
}

.yesButton,
.noButton, 
.result {
    display: none;
}

// ***Result screen styles***

.resultH2 {
    font-size: 2rem;
}

.italic {
    font-style: italic;
}

.resultContent {
    margin-top: 4%;
}
