/*Where the color palette came from: Coolors Exported Palette - coolors.co/ffffff-f6dc9f-f9c900-ffd100-1e1e1e */

/* just RGB colors from color palette*/
$color1: rgba(255, 255, 255, 1);
$color2: rgba(246, 220, 159, 1);
$color3: rgba(249, 201, 0, 1);
$color4: rgba(255, 209, 0, 1);
$color5: rgba(30, 30, 30, 1);


// *** FONT ****

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Open Sans', sans-serif;
